.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  &__inner {
    padding-top: 50px;
    display: grid;
    justify-items: start;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__btn {
    justify-self: end;
  }

  &__copy {
    font-size: 14px;
    color: var(--color-grey-30);
    margin: 0 0 20px;
  }
}

@media (max-width: 959px) {
  .footer {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
    &__btn {
      justify-self: start;
    }
  }
}

@media (max-width: 529px) {
  .footer {
    &__inner {
      grid-template-columns: 1fr;
    }
  }
}
