.location {
  height: 770px;
  background-size: cover;
  background-position: top center;
  &__title {
    text-align: center;
    margin: 0;
    padding-top: 2%;
    color: var(--color-white);
  }
}

@media (max-width: 999px) {
  .location {
    height: 500px;
  }
}

@media (max-width: 768px) {
  .location {
    height: 350px;
  }
}

@media (max-width: 499px) {
  .location {
    height: 200px;
  }
}
