.news {
  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    flex-grow: 1;

    &:nth-child(3n-1) {
      margin-top: 40px;
    }

    &:nth-child(3n) {
      margin-top: 80px;
    }

    @media (hover: hover) {
      &:hover {
        .news__item-title {
          color: var(--color-accent);
        }
      }
    }
  }

  &__img {
    object-fit: cover;
    height: 250px;
    width: 100%;
  }

  &__item-title {
    font-size: 20px;
    margin: 0;
    transition: color 0.3s;
  }

  &__item-descr {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .news {
    &__item-title {
      font-size: 18px;
    }
  }
}

@media (max-width: 559px) {
  .news {
    &__item {
      &:nth-child(3n-1),
      &:nth-child(3n) {
        margin: 0;
      }
    }

    &__img {
      height: 200px;
    }
  }
}
