.offer {
  background-color: var(--color-primary);
  padding: 50px 0;
  color: var(--color-white);
  &__title {
    max-width: 450px;
  }

  &__inner {
    border-top: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    padding: 40px 0;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__cta {
    font-size: 28px;
    max-width: 300px;
    margin: 0;
  }

  &__form-box {
    flex-grow: 1;
  }

  &__descr {
    max-width: 320px;
    margin: 0 0 20px;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    .form__input {
      color: var(--color-white);
      border-color: var(--color-grey-20);
      @media (hover: hover) {
        &:hover + .form__label {
          color: var(--color-white);
        }
        &:hover {
          border-color: var(--color-white);
        }
      }
      &:focus {
        outline: 1px solid var(--color-white);
      }
      &:focus + .form__label,
      &:not(:placeholder-shown) + .form__label {
        background-color: var(--color-primary);
        color: var(--color-white);
      }
    }
    .form__label {
      color: var(--color-grey-20);
    }
    .form__sup-text {
      color: var(--color-grey-20);
    }
  }

  &__btn {
    padding: 16px 32px;
    line-height: 22px;
    width: 100%;
  }
}

@media (max-width: 999px) {
  .offer {
    &__content {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (max-width: 767px) {
  .offer {
    &__cta {
      font-size: 24px;
    }

    &__descr {
      max-width: 300px;
    }

    &__form {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 479px) {
  .offer {
    &__cta {
      font-size: 20px;
      max-width: 240px;
    }
  }
}
