.testimonials {
  &__title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__title {
    margin-bottom: 0;
  }
  &__arrows {
    display: flex;
    gap: var(--gap);
  }
  &__arrow {
    background-color: transparent;
    border: none;
    background-size: cover;
    width: 64px;
    height: 32px;
    padding: 0;
    cursor: pointer;

    svg path {
      stroke: var(--color-primary);
      transition: 0.3s;
    }

    &:disabled {
      svg path {
        stroke: var(--color-grey-30);
      }
    }

    @media (hover: hover) {
      &:not(:disabled):hover {
        svg path {
          stroke: var(--color-accent);
        }
      }
    }
  }
  &__item {
    background-color: var(--color-light-accent);
    border-radius: 20px;
    padding: 20px;
  }
  &__head {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
  }
  &__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    margin: 0;
  }
  &__icon {
    width: 40px;
    height: 40px;
    margin-left: auto;
  }
  &__text {
    margin: 20px 0 0;
  }
}

@media (max-width: 999px) {
  .testimonials {
    &__head {
      flex-direction: column;
    }
    &__name {
      text-align: center;
    }
    &__icon {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}
